body, html {
  height: 100%;
}

body{
  text-align: center;
  background-color: #0f4c75;
}

nav{
  background-color: #1b262c;
}

h1 {
  font-size: 6rem;
}

.container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7% 15%;

}

/* Intro Section */
#intro{
  background-image: url("images/laptop.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  color: #bbe1fa;
}

.title-block{
  background-color: #3282b8;
  padding: 10px 25px;
}

.btn-resume{
  background-color: #0f4c75;
  color: #bbe1fa;
  margin: 24% 0;
}

/* Projects Section */

/* Contact Section */
.about{
  background-color: #bbe1fa;
}
