body, html {
  height: 100%;
}

body{
  text-align: center;
  background-color: #0f4c75;
  color: #bbe1fa;
}

nav{
  background-color: #1b262c;
}

h1 {
  font-size: 6rem;
}

.container-fluid{
  padding: 7% 15%;
}

.title{
  margin-bottom: 7%;
}

/* Intro Section */
#intro{
  background-image: url("images/laptop.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
}

#intro > div.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-block{
  background-color: #3282b8;
  padding: 10px 25px;
}

.btn-resume{
  background-color: #0f4c75;
  border-color: #0f4c75;
  color: #bbe1fa;
  margin: 24% 0;
}

/* Projects Section */
.card{
  background-color: #3282b8;
  margin-bottom: 3%;
  height: 100%;
}
/* Contact Section */
#contact{
  background-color: #3282b8;
}

.form-control{
  width: 50%;
  margin: auto;
}
