body, html {
  height: 100%;

  font-family: 'Exo 2', sans-serif;
}

body{
  text-align: center;
  background-color: #0f4c75;
  color: #bbe1fa;
}

nav{
  background-color: #1b262c;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
}

a{
  color:#bbe1fa;
  text-decoration: none;
}

a:hover{
  color: #0f4c75;
}

label{
  font-size: 1.3rem;
}

.container-fluid{
  padding: 7% 7%;
}

.title{
  margin-bottom: 7%;
}

/* Intro Section */
#intro{
  background-image: url("images/laptop.jpg");
  height: 70%;
  background-position: center;
  background-size: cover;
}

#intro > div.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-block{
  background-color: #3282b8;
  padding: 10px 25px;
}

.lead{
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
}

.resume{
    margin: 3% 0 6%;
}

.btn-primary{
  background-color: #0f4c75;
  border-color: #0f4c75;
  color: #bbe1fa;
}

.btn-primary:hover, .btn-outline-light:hover{
  background-color: #bbe1fa;
  border-color: #bbe1fa;
  color: #1b262c;
}

.socials{
  font-size: 1.3rem;
}

/* Projects Section */

.btn-outline-light{
  border-color: #bbe1fa;
  color: #bbe1fa;
}

.card{
  background-color: #3282b8;
  margin-bottom: 3%;
  height: 100%;
}

.card-title{
  font-weight: 600;
}
/* Contact Section */
#contact{
  background-color: #3282b8;
}

.form-control{
  width: 50%;
  margin: auto;
}

@media only screen and (orientation: portrait) {
  h5{
    font-size: 2rem;
  }

  label{
    font-size: 3rem;
  }

  textarea.form-control{
    margin-bottom: 8%;
  }

  .nav-link{
    font-size: 2.5rem;
  }

/* intro section */
  #intro{
    height: 70%;
  }

  .navbar-brand, .navbar-toggler-icon {
    font-size: 3rem;
  }

  .title-block{
    margin-top: 10%;
  }

  .btn-primary{
    font-size: 3rem;
  }

  .resume{
    margin-top: 48%;
  }

  .socials{
    font-size: 2.5rem;
  }

/* project section */
  .card-text, .btn-outline-light{
    font-size: 1.4rem;
  }

/* contact section */
  .form-control{
    width: 75%;
  }
}
